*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.App {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   align-self: center;
   background: #123321;;
}
h1, 
h2 {
   font-size: 1.5rem;
   color: blue;
}
button {
   margin-top: 2rem;
   display: block;
   width: fit-content;
   padding: .5rem 1.5rem;
}